<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<springProperty scope="context" name="application_name" source="spring.application.name"/>

	<appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
	</appender>

	<springProfile name="docker">
		<root level="INFO">
			<appender-ref ref="jsonConsoleAppender"/>
		</root>
		<logger name="pl.kempa.saska" level="trace" additivity="false">
			<appender-ref ref="jsonConsoleAppender"/>
		</logger>
	</springProfile>
</configuration>